<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".GPower"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GPower">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="GPower"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AlertActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:turnScreenOn="true" />

        <service
            android:name=".GPowerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".HomeScreenWidget"
            android:exported="false"
            android:label="@string/app_name"
            android:widgetCategory="home_screen">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_screen_widget" />
        </receiver>
        <receiver
            android:name=".MyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gautamviradiya.gpower.UPDATE_WIDGET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".GPowerService$CustomButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="OK_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>